.section-title{
  font-size: 6rem;
  /* background-color: antiquewhite; */
  width: 100vw;
  margin-left: calc(50% - 50vw);
  transition: background-color 200ms;
}

/* .section-title:hover{
  background-color: var(--dark);
} */

.project-list{
    /*  */
}

.project {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 3fr;

    width: 150%;
    margin-left: calc(50% - 75%);

    height: 40rem;
    align-items: center;
    justify-items: center;
}


.project-details{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    margin: 1rem;

    translate: 5% -10%;

    /* background-color:  #0a0e19; */
}
.project-title{
    font-weight: bolder;
    font-size: 4rem;
}
.project-links{
    display: flex;
    gap: 5rem;
    align-content: center;
    justify-content: center;
}
.project-visuals{
    display: flex;
    flex-direction: column;
}

.project-visuals-1, 
.project-visuals-2{
    /* width: 30rem; */
    height:21rem;
    aspect-ratio: 16/9;
    border-radius: 8px;
    box-shadow: inset;
    
    transition: box-shadow 200ms, transform 200ms;
}

.project-visuals-1{
    z-index: 1;
    translate: 10% 10%;
}
.project-visuals-2{
    z-index: 0;
    translate: 2% -25%;
    
}

.project-visuals-1:hover,
.project-visuals-2:hover{
    box-shadow: 5px 4px 10px 5px rgba(0, 0, 0, 0.447);
    transform: translateY(-3%);
}
.project-visuals-2:hover{
    box-shadow: -6px 4px 10px 5px rgba(0,0,0,0.37);
}
