
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;

  font-family: 'Courier New', Courier, monospace;
  font-weight: normal;

  position: relative;
}


/* Hero */
.hero-div {
  /* background-color: #888; */
  width: 100%;
  text-align: left;
  margin: 1rem;
  
}
.hero-name {
  font-size: 6rem;
  font-weight: bold;
}
.hero-context {
  font-size: 2rem;
  /* padding-left: 3rem; */
  position: relative;
  left: 3rem;
  top: -5rem;
}
.about-title{
  margin-top: 17rem;
}
/* .section-title{
  margin-top: 5rem;
} */

/* About */
.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  justify-items: stretch;
  align-items: center;
}


.about-summary {
  grid-row: span 1;
  margin: 2rem;
}

.about-image {
  width: 30rem;
  border-radius: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 120px; /* row height */
  gap: 16px;
}


/* Skills */
.skills-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  justify-items: center;
  align-items: center;
  gap: 3px;
}

/* .skills-grid > *:nth-child(3n + 1), */
.skills-grid > *:nth-child(3n + 2) {
  transform: translateY(50%);
}



.skills-item{
  display: flex;
  aspect-ratio: 1/1;
  width: 100%;

  align-content: center;
  justify-content: center;

  
  /* background-color: #646cff; */

  /* transition: width 180ms; */
}

.skills-item-div{
 background-color: #ffffff00;
  width: 100%;
  border-radius: 8px;
  transition: background-color 180ms;
}

.skills-item-div:hover{
 background-color: var(--accent);

  transition: background-color 200ms;
}

/* .skills-item:hover{
  aspect-ratio: 1/1;
  width: 100%;
} */

.skills-item-icon{
  width: 90%;
  /* background-color: aliceblue; */
  aspect-ratio: 1/1;

  margin-top: 2px;

  transition: width 200ms;
}

.skills-item-icon:hover{
  width: 100%;
}

/* Main Stuff */


/* NavBar */
.navbar {
  position: fixed;      /* or sticky */
  top: 0;
  left: 0;

  width: 100vw;
  height: 3rem;
  z-index: 6;

  /* background: white; */
}



/* Random Stuff */

.logo {
  height: 6em;
  padding: 1.5em;
  padding-top: .5rem;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cff);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.error{
  color: red;
  position: relative;
  top: 10px;
}

.funny{
  display: flex;
  align-content: center;
  justify-content: center;
}

